flinkster-car-list {
  display: block;
  width: 100%;
  font-family: Verdana,Geneva,sans-serif; }

flinkster-car-list .data-table-container {
  display: flex;
  flex-direction: column; }

flinkster-car-list .data-table-row {
  display: flex;
  padding: 5px; }

flinkster-car-list .data-table-row.header {
  text-align: center;
  font-weight: bold; }

flinkster-car-list .data-table-row:nth-child(odd) {
  background-color: #f2f2f2; }

flinkster-car-list .data-table-row.selected {
  background-color: #f01414 !important;
  color: #ffffff;
  font-weight: bold; }

flinkster-car-list .data-table-row:hover {
  cursor: pointer; }

flinkster-car-list .flex-1 {
  flex: 1; }

flinkster-car-list .flex-2 {
  flex: 2; }

flinkster-car-list .flex-3 {
  flex: 3; }

flinkster-car-list .flex-4 {
  flex: 4; }

flinkster-car-list .flex-5 {
  flex: 5; }

flinkster-car-list .align-right {
  text-align: right; }
