flinkster-car-list {
    display: block;
    width: 100%; 
    // border: 1px solid gray;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 16px;
    
    .data-table-container {
        display: flex;
        flex-direction: column;
    }

    .data-table-row {
        display: flex;
        padding: 5px;
        text-align: left;

        &.header {
            text-align: center;
            font-weight: bold;
        }
        &:nth-child(odd) {
            background-color: #f2f2f2;
        }
        &.selected {
            background-color:  #f01414 !important;
            color: #ffffff;
            font-weight: bold;
        }
        &:hover {
            cursor: pointer;
        }
    }

    .flex-1 {
        flex: 1;
    }

    .flex-2 {
        flex: 2;
    }

    .flex-3 {
        flex: 3;
    }

    .flex-4 {
        flex: 4;
    }

    .flex-5 {
        flex: 5;
    }

    .align-right {
        text-align: right;
    }
}