result-table {
  display: block;
  width: 100%;
  font-family: Verdana,Geneva,sans-serif; }

result-table .container {
  display: flex;
  flex-direction: column; }

result-table .row {
  display: flex;
  padding: 5px; }

result-table .row.header {
  text-align: center;
  font-weight: bold; }

result-table .row:nth-child(odd) {
  background-color: #f2f2f2; }

result-table .row.selected {
  background-color: #f01414 !important;
  color: #ffffff;
  font-weight: bold; }

result-table .flex-1 {
  flex: 1; }

result-table .flex-2 {
  flex: 2; }

result-table .flex-3 {
  flex: 3; }

result-table .flex-4 {
  flex: 4; }

result-table .flex-5 {
  flex: 5; }

result-table .align-right {
  text-align: right; }
